$container-width = 850px

$header-height = 315px

$bar-height = 50px
$bar-menu-logo = '../images/logo_s.png'
$bar-menu-logo-width = $bar-height
$bar-menu-logo-height = $bar-height

$bar-menu-tag-width = (175px / 3)
