  <header id="header">
    <div class="header-center container">
      <ul class="header-conveyor"><!--
      --><li class="header-conveyor-item" data-background="{{ site.url }}/images/pic_07.jpg"><a href=""></a><!--
      --><li class="header-conveyor-item" data-background="{{ site.url }}/images/pic_06.jpg"><a href=""></a><!--
      --><li class="header-conveyor-item" data-background="{{ site.url }}/images/pic_05.jpg"><a href=""></a>
      </ul>
    </div>
    <div class="header-mask header-mask-left">
    </div>
    <div class="header-mask header-mask-right">
    </div>
    <a class="header-prev-btn">prev</a>
    <a class="header-next-btn">next</a>
    <!--<div class="header-logo">
    </div>-->
  </header>
