.page-partner-content-image
  max-width: 128px
  max-height: 128px
  padding: 5px
  margin: 0 20px
  border: 1px #F5F5F5 solid
  background: #FFF

  &.left
    float: left

  &.right
    float: right
