.page-partner-content-image
  max-width: 128px
  max-height: 128px
  padding: 5px
  margin: 0 20px
  border: 1px #F5F5F5 solid
  background: #FFF

  &.left
    float: left

  &.right
    float: right

.more-partner-box
  display: inline-block
  
.more-partner-box-link
  border: 1px solid rgba(128, 128, 128, 0.43)
  
