.page-partner-content-image
  max-width: 128px
  max-height: 128px
  padding: 5px
  margin: 0 20px
  background: #FFF

  &.left
    float: left

  &.right
    float: right

.more-partner-box
  width: 100%

.more-partner-item
  float: left
  display: inline-block
  margin-left: (($container-width - 150 * 4) / 8)
  margin-right: (($container-width - 150 * 4) / 8)
  margin-top: 20px

  a
    display: block
    height: 100%
    width: 100%
