{% include head.html %}
{% include header.html %}
{% include menu.html %}

  <div id="main">

    <div class="container">

      <div class="clear main-post-list">

        {% for post in paginator.posts %}
        <article class="main-post">
          <header class="main-post-header">
            <a href="{{ site.url }}{{ post.url }}"><img class="main-post-img" src="{{ site.url }}/images/tumb/{{ post.tumb }}" /></a>
            <h3 class="main-post-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
          </header>
          <!--div class="main-post-entry">
            <p>{{ post.content | strip_html | strip_newlines | truncate: 120 }}</p>
          </div-->
        </article>
        {% endfor %}

      </div>

      <div class="pagination">
        {% if paginator.previous_page %}
        <p class="pagination-prev">{% if paginator.previous_page == 1 %}<a href="/">Previous</a>{% else %}<a href="{{ paginator.previous_page_path }}">Previous</a>{% endif %}</p>
        {% endif %}
        {% if paginator.next_page %}
        <p class="pagination-next"><a href="{{ paginator.next_page_path }}">Next</a></p>
        {% endif %}
      </div>

    </div>

  </div>

{% include footer.html %}
